@using Nop.Plugin.Reports.CustomReports.Models.CustomerReports.ShoperiaPlusSubscriptions

@model CustomerReportsSearchModel

@{
    Layout = "_AdminLayout";
    // ViewBag.PageTitle = T("Plugins.Reports.CustomReports.ASD").Text;

    NopHtml.SetActiveMenuItemSystemName("Customer Reports");
}

@{
    const string hideSearchBlockAttributeName = "NeverSoldReportPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Reports.Custom.CustomReports.ShoperiaPlusSubscriptions")
    </h1>
    <div class="float-right">
        &nbsp;
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-label asp-for="StartDate" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="StartDate" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-label asp-for="EndDate" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="EndDate" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-6">
                                    <button type="button" id="search-customer-reports" class="btn btn-primary btn-search">
                                        <i class="fas fa-chart-line"></i>
                                        @T("Admin.Reports.Other.ShoperiaPlusSubscriptions.RunReport")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        <nop-doc-reference asp-string-resource="@T("Admin.Documentation.Reference.Reports", Docs.Reports + Utm.OnAdmin)" />

                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "shoperia-plus-subscriptions-grid",
                            UrlRead = new DataUrl("FetchReport", "ShoperiaPlusSubscriptions", null),
                            SearchButtonId = "search-customer-reports",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.StartDate), typeof(DateTime?)),
                                new FilterParameter(nameof(Model.EndDate), typeof(DateTime?)),
                            },
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(ShoperiaPlusSubscriptionsReportModel.PartialAmount))
                                {
                                    Title = T("Admin.Reports.Other.ShoperiaPlusSubscription.Fields.PartialAmount").Text
                                },
                                new ColumnProperty(nameof(ShoperiaPlusSubscriptionsReportModel.TotalAmount))
                                {
                                    Title = T("Admin.Reports.Other.ShoperiaPlusSubscriptions.Fields.TotalAmount").Text
                                },
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
