@using Nop.Plugin.Reports.CustomReports.Models.OrderDetails
@model OrderDetailsSearchModel

@{
    //page title
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Admin.Reports.OrderDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("OrderDetails");
}

@{
    var bestsellerSummaryColumnNumber = 2;

    const string hideSearchBlockAttributeName = "OrderDetailsPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.Reports.OrderDetails")
    </h1>
    <div class="float-right">
        <form asp-controller="Report" asp-action="ExportExcel" method="post">
            <input type="hidden" id="exportStartDate" name="StartDate" value="@Model.StartDate" />
            <input type="hidden" id="exportEndDate" name="EndDate" value="@Model.EndDate" />

            <button asp-action="ExportExcel" type="submit" name="exportexcel-all">
                <i class="far fa-file-excel"></i>
                @T("Admin.Common.ExportToExcel.All")
            </button>
        </form>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                            <div class="col-md-4">
                                            <nop-label asp-for="StartDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="StartDate" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="EndDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="EndDate" />
                                        </div>
                                    </div> 
                                       
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-orderdetailsreport" class="btn btn-primary btn-search">
                                        <i class="fas fa-chart-line"></i>
                                        @T("Admin.Reports.OrderDetails.RunReport")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        <nop-doc-reference asp-string-resource="@T("Admin.Documentation.Reference.Reports", Docs.Reports + Utm.OnAdmin)" />

                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "orderdetailsreport-grid",
                            UrlRead = new DataUrl("FetchReport", "OrderDetails", null),
                            SearchButtonId = "search-orderdetailsreport",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                            {
                            new FilterParameter(nameof(Model.StartDate), typeof(DateTime?)),
                            new FilterParameter(nameof(Model.EndDate), typeof(DateTime?)),
                            },
                            ColumnCollection = new List<ColumnProperty>
                        {
                        new ColumnProperty(nameof(OrderDetailsReportModel.OrderId))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.OrderId").Text
                        },
                        new ColumnProperty(nameof(OrderDetailsReportModel.Status))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.Status").Text
                        },
                        new ColumnProperty(nameof(OrderDetailsReportModel.FormattedProcessingAvailableDate))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.ProcessingAvailableDate").Text
                        },
                        new ColumnProperty(nameof(OrderDetailsReportModel.FormattedPackageCompletedDate))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.PackageCompletedDate").Text
                        },
                        new ColumnProperty(nameof(OrderDetailsReportModel.FormattedShippedDate))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.ShippedDate").Text
                        },
                        new ColumnProperty(nameof(OrderDetailsReportModel.FormattedDeliveredDate))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.DeliveredDate").Text
                        },
                        new ColumnProperty(nameof(OrderDetailsReportModel.ShippingMethod))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.ShippingMethod").Text
                        },
                        new ColumnProperty(nameof(OrderDetailsReportModel.PaymentMethod))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.PaymentMethod").Text
                        },
                        new ColumnProperty(nameof(OrderDetailsReportModel.FormattedPackagingTime))
                        {
                        Title = T("Admin.Reports.OrderDetails.Fields.PackagingTime").Text
                        }
                        }
                        })

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        // Az excel export dátum filterének szinkronizálása a riport dátum filterével
        $('#StartDate').on('change', function () {
            const selectedDate = $(this).val(); // Az új dátum értéke
            $('#exportStartDate').val(selectedDate); // Hidden input frissítése
        });
        $('#EndDate').on('change', function () {
            const selectedDate = $(this).val(); // Az új dátum értéke
            $('#exportEndDate').val(selectedDate); // Hidden input frissítése
        });
    });
</script>